<html>
<body>
	<h1>About us</h1>
	<p>Kibo MEET is a startup combining the ideas of two companies: MEET (Middle East Entrepreneurs of Tomorrow) and Kinderlab Robotics. MEET is a MIT startup that teaches Israeli and Palestinian students computer science and entrepreneurship in a binational setting. Kinderlab Robotics is a startup that teaches children basic coding and computer skills with their robot KIBO, which enables screen-free learning for young children. Kibo MEET brings a KIBO 6-day KIBO course to children in bilingual communities as well as displaced communities such as war evacuees.</p>
</body>
</html>