<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<form method="POST" action="/volunteer">
		<input type="text" name="full_ name" placeholder="Full_name" required>
		<input type="number" name="age" placeholder="age" required>
		<input type="email" name="email" placeholder="Email_address" required>
		<input type="password" name="password" placeholder="password" required>
		<input type="email" name="email" placeholder="location" required>
		<input type="radio" name="Arabic" placeholder="Arabic" required>
		<input type="radio" name="Hebrew" placeholder="Hebrew" required>
        <button name="submit" type="submit" >SUBMIT</button>
    </form>
    	<a href = "/"> Back</a>



</body>
</html>
